<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand"><%= title %></span>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LoginModal">
      Sign in!
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateRestaurantModal">
      Create restaurant
    </button>
  </nav>
  <!-- Login/Create user modal -->
  <div class="modal fade" id="LoginModal" tabindex="-1" role="login" aria-labelledby="LoginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title login-box">Login</h5>
          <h5 class="modal-title createAccount-box">Create an account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="login-box">
          <div class="modal-body">
            <form action="/" method="post">
              <label for="uName">Enter your username</label>
              <input id="loginUsername" type="text" name="uName" class="form-control">
              <label for="passW">Enter your password</label>
              <input id="loginPassword" type="password" name="passW" class="form-control">
              <br>
              <input type="submit" value="Login" class="btn btn-success btn-lg btn-block">
            </form>
          </div>
          <div class="modal-footer">
            <button id="createAccount" class="btn btn-secondary btn-lg btn-block">Don't have an account? Create one here!</a>
          </div>
        </div>
        <div class="createAccount-box">
          <div class="modal-body">
            <form action="/register/createAccount" method="post">
              <label for="username">Enter a username</label>
              <input id="createUsername" type="text" name="username" class="form-control">
              <label for="password">Enter a password</label>
              <input id="createPassword" type="password" name="password" class="form-control">
              <br>
              <input type="submit" value="Create account" class="btn btn-success btn-lg btn-block">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="loginAccount" class="btn btn-secondary btn-lg btn-block">Already have an account? Login here!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit restaurant modal -->
  <div class="modal fade" id="EditRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="EditRestaurantModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalTitle">Restaurant name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Action gets set via jQuery -->
          <form id="editForm" action="" method="post">
            <!--enctype="multipart/form-data" Need to fix bodyparser or some input parser -->
            <label for="restaurantName">Enter a new name for restaurant</label>
            <input id="restaurantName" class="form-control" type="text" name="restaurantName" value="">
            <label for="restaurantGenre">Enter a new genre for restaurant</label>
            <input id="restaurantGenre" class="form-control" type="text" name="restaurantGenre" value="">
            <!--
            <br>
            <input type="file" name="restaurantImage" value="">
          -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="restaurantID" type="submit" class="btn btn-primary">Save changes</button>
          </form>
          <!-- Action gets set via jQuery -->
          <form id="deleteRestaurant" action="" method="post">
            <button id="" type="submit" class="btn btn-danger deleteRestaurant">Delete restaurant</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Create restaurant modal -->
  <div class="modal fade" id="CreateRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="CreateRestaurantModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create restaurant</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="createForm" action="/restaurants/" method="post">
            <!--enctype="multipart/form-data" Need to fix bodyparser or some input parser -->
            <label for="nameForRestaurant">Enter name for new restaurant</label>
            <input id="nameForRestaurant" class="form-control" type="text" name="nameForRestaurant" value="">
            <label for="genreForRestaurant">Enter genre for new restaurant</label>
            <input id="genreForRestaurant" class="form-control" type="text" name="genreForRestaurant" value="">
            <!--
            <br>
            <input type="file" name="restaurantImage" value="">
          -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add restaurant</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Review modal -->
  <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="reviews/" method="post">
            <input hidden type="text" name="hiddenRestaurantID" id="hiddenRestaurantID" value="">
            <% if(user) { %>
            <input hidden type="text" name="hiddenUserID" value="<%= user[0].ID %>">
            <% } %>
            <div id="reviews">

            </div>
              <h5 class="modal-title">Leave a review</h5>
            <label for="review">How was your experience?</label>
            <textarea class="form-control" id="review" name="review" rows="4" cols="40"></textarea>
            <p id="charactersLeft">200 characters left</p>
            <label for="rating">Give a rating</label>
            <br>
            <select class="form-control" name="rating">
              <option value="1">1 Star</option>
              <option value="2">2 Star</option>
              <option value="3">3 Star</option>
              <option value="4">4 Star</option>
              <option value="5">5 Star</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="submitReview">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <% if(user) { %>
  <h1 class="display-1">Welcome to <%= title %>, <%= user[0].userName %></h1>
  <p>Your role is <%= user[0].roleID %></p>
  <% } else { %>
  <h1 class="display-1">Welcome to <%= title %></h1>
  <% } %>
  <div class="row row-cols-1 row-cols-md-1">
    <% for (var i = 0; i < restaurants.length; i++) { %>
    <div class="col mb-4">
      <div class="card">
        <h5 class="card-header"><%= restaurants[i].name %></h5>
        <img src="https://placekitten.com/1500/200" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Genre: <%= restaurants[i].genre %></h5>
          <p class="card-text">Stuff relating to restaurant.</p>
          <button id="<%= restaurants[i].ID %>" class="openEditModal btn btn-primary">
            Edit restaurant
          </button>
        </div>
        <div class="card-footer bg-grey">
          <% if(user) {%>
          <button id="<%= restaurants[i].ID %>" class="btn btn-primary btn-block btn-lg reviewRestaurant" type="button">Review restaurant</button>
          <% } else { %>
          <button disabled class="btn btn-primary btn-block btn-lg" type="button">Reviews</button>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <!--
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
-->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="../javascripts/homepage.js"></script>
  <script src="../javascripts/login.js"></script>
  <script src="../javascripts/restaurants.js"></script>
</body>

</html>
